/*Exercice 1 */

.text-disable {
    display: none;
}

/* Exercice 4 */
.btn-blue {
    background-color: blue;
    color: white;
}

.btn-red {
    background-color: red;
    color: white;
}


.btn-green {
    background-color: green;
    color: white;
}


/* Exercice 5 */

/* .random-color {

} */